:root{
    font-size:16px;
    --scrollSize:0px;
}
html {
    scroll-behavior: smooth;
}
body {
    margin:0rem;
    overflow-x: hidden;
    user-select: none;
}
.header{
    position:relative;
    overflow: hidden;
    width:100vw;
    user-select: none;
}
#navbar{
    display:grid;
    grid-template-areas: 
        "logo about_frc about_us member contact_us changeeng space animate_7130"
        "space2 about_frc2 about_us2 member2 contact_us2 changeeng2 space3 space4";
    grid-template-columns: 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 1.5fr 6.5fr 3fr;
    grid-template-rows: 1fr 2fr;
    width:100vw;
    margin: 0rem;
    transition:background-image 0.8s ease-in-out;
    z-index: 6;
    position: fixed;
    left: 0;
    top: 0;
}
.navbar_text{
    color:hsl(0, 0%, 60%);
    font-weight: bold;
    font-size: 22px;
    margin-top:2.0625rem;
    margin-bottom:2.0625rem;
    height:auto;
    text-align: center;
    transition-property: color;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
    text-decoration: none;
    
}
.navbar_text::after{
    content: "";
    display:block;
    border-bottom: 3px solid hsl(83, 93%, 44%);
    transform: scale(0);
    transition: transform 250ms ease-in-out;
    padding:0px;

}
.navbar_text:hover{
    color:hsl(0, 0%, 3%);
}
.navbar_text:hover::after{
    padding: 3px;
    transform: scale(1);
}
.cover{
    height:19.375rem;
    width:100vw;
    position:fixed;
    left:0;
    top:0;
    z-index: -100;
    background-image: linear-gradient(to bottom, hsl(0, 0%, 97%) 0%,hsl(0, 0%, 0%) 0%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-bottom-color: hsl(193,65%,70%);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.logo{
    display:flex;
    grid-area: logo;
    height : 5.625rem;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(to bottom, hsl(193, 65%, 40%) 0%,hsl(193, 65%, 20%) 100%); */
    background-color:rgb(230, 230, 230);
    transition: height 0.4s linear;
    
}
#home_logo{
    height:5rem;
    width: 5rem;
    background-image: url(logo1.png);
    background-size: contain;
    transition:transform 0.2s ease;
    cursor: pointer;
}
#home_logo:hover{
    transform: scale(1.3);
}
.about_frc{
    display:flex;
    grid-area: about_frc;
    height:5.625rem;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(to bottom, hsl(193, 65%, 40%) 0%,hsl(193, 65%, 20%) 100%); */
    background-color:rgb(230, 230, 230);
    transition: height 0.4s linear,background-color 0.5s cubic-bezier(.11,1.74,1,-1.59);
}
.about_us{
    display:flex;
    grid-area: about_us;
    height : 5.625rem;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(to bottom, hsl(193, 65%, 40%) 0%,hsl(193, 65%, 20%) 100%); */
    background-color:rgb(230, 230, 230);
    transition: height 0.4s linear,background-color 1.5s cubic-bezier(.11,1.74,1,-1.59);

}
.members{
    display:flex;
    grid-area: member;
    height : 5.625rem;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(to bottom, hsl(193, 65%, 40%) 0%,hsl(193, 65%, 20%) 100%); */
    background-color:rgb(230, 230, 230);
    transition: height 0.4s linear,background-color 2.5s cubic-bezier(.11,1.74,1,-1.59);

}
.contact_us{
    display:flex;
    grid-area: contact_us;
    height : 5.625rem;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(to bottom, hsl(193, 65%, 40%) 0%,hsl(193, 65%, 20%) 100%); */
    background-color:rgb(230, 230, 230);
    transition: height 0.4s linear,background-color 3.5s cubic-bezier(.11,1.74,1,-1.59);

}
.changeeng{
    display:flex;
    grid-area:changeeng;
    height : 5.625rem;
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(to bottom, hsl(193, 65%, 40%) 0%,hsl(193, 65%, 20%) 100%); */
    background-color:rgb(230, 230, 230);
    transition: height 0.4s linear,background-color 4.5s cubic-bezier(.11,1.74,1,-1.59);

}
.space{
    grid-area: space;
    /* background-image: linear-gradient(to bottom, hsl(193, 65%, 40%) 0%,hsl(193, 65%, 20%) 100%); */
    background-color:rgb(230, 230, 230);
    height : 5.625rem;
    transition: height 0.4s linear,background-color 5.5s cubic-bezier(.11,1.74,1,-1.59);

}
.animated_7130{
    display:flex;
    grid-area: animate_7130;
    height : 5.625rem;
    align-items: center;
    justify-content: center;
    /*background-image: linear-gradient(to bottom, hsl(193, 65%, 40%) 0%,hsl(193, 65%, 20%) 100%);*/
    background-color:rgb(230, 230, 230);
    transition: height 0.4s linear,background-color 6.5s cubic-bezier(.11,1.74,1,-1.59);

}
.n7{
    margin-top:10px;
    margin-bottom: 10px;
    margin-right: 6px;
    margin-left: 6px;
    height:auto;
    font-size:70px;
    font-weight:bold;
    color:white;
    cursor:default;
    opacity: 0.2;
    font-family: Jazz LET, fantasy;
    text-shadow: 0 0 10px hsl(194, 98%, 60%), 
                 0 0 20px hsl(194, 98%, 60%),
                 0 0 80px hsl(194, 98%, 60%),
                 0 0 160px hsl(194, 98%, 60%),
                 0 0 400px hsl(194, 98%, 60%);
    animation-name: shine7;
    animation-duration:10s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: font-size 0.2s linear;
}
.n1{
    margin-top:10px;
    margin-bottom: 10px;
    margin-right: 6px;
    margin-left: 6px;
    height:auto;
    font-size: 70px;
    font-weight:bold;
    color:white;
    cursor:default;
    opacity: 0.2;
    font-family: Jazz LET, fantasy;
    text-shadow: 0 0 10px hsl(194, 98%, 56%), 
                 0 0 20px hsl(194, 98%, 56%),
                 0 0 80px hsl(194, 98%, 56%),
                 0 0 160px hsl(194, 98%, 56%),
                 0 0 400px hsl(194, 98%, 56%);
    animation-name: shine1;
    animation-duration:9s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: font-size 0.2s linear;
}
.n3{
    margin-top:10px;
    margin-bottom: 10px;
    margin-right: 6px;
    margin-left: 6px;
    height:auto;
    font-size: 70px;
    font-weight:bold;
    color:white;
    cursor:default;
    opacity: 0.2;
    font-family: Jazz LET, fantasy;
    text-shadow: 0 0 10px hsl(194, 98%, 52%), 
                 0 0 20px hsl(194, 98%, 52%),
                 0 0 80px hsl(194, 98%, 52%),
                 0 0 160px hsl(194, 98%, 52%),
                 0 0 400px hsl(194, 98%, 52%);
    animation-name: shine3;
    animation-duration:8s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: font-size 0.2s linear;
}
.n0{
    margin-top:10px;
    margin-bottom: 10px;
    margin-right: 6px;
    margin-left: 6px;
    height:auto;
    font-size: 70px;
    font-weight:bold;
    color:white;
    cursor:default;
    opacity: 0.2;
    font-family: Jazz LET, fantasy;
    text-shadow: 0 0 10px #03bcf4, 
                 0 0 20px #03bcf4,
                 0 0 80px #03bcf4,
                 0 0 160px #03bcf4,
                 0 0 400px #03bcf4;
    animation-name: shine0;
    animation-duration:8s;
    animation-delay: 7s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: font-size 0.2s linear;
}
@keyframes shine7 {
    0%{
        opacity:1;
    }
    20%{
        opacity:0.2;
    }
    80%{
        opacity:1;
    }
}
@keyframes shine1 {
    0%{
        opacity: 0.2;
    }
    11.1%{
        opacity:1;
    }
    33.3%{
        opacity:0.2;
    }
    77.7%{
        opacity:1;
    }
}
@keyframes shine3 {
    0%{
        opacity: 0.2;
    }
    25%{
        opacity:1;
    }
    50%{
        opacity:0.2;
    }
    75%{
        opacity:1;
    }
}
@keyframes shine0 {
    0%{
        opacity: 0.2;
    }
    42.8%{
        opacity:1;
    }
    71.4%{
        opacity:1;
    }
}
.space2{
    background:none;
    grid-area: space2;
}
.space3{
    background:none;
    grid-area: space3;
}
.space4{
    background:none;
    grid-area: space4;
}
.menu_txt{
    color:hsla(0, 3%, 77%, 0.699);
    visibility: hidden;
    display: block;
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 18px;
    cursor: pointer;
    transition: color;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.23, 1, 0.320, 1);
    text-decoration: none;
}
.menu_txt:hover  {
    color:white;
}

.frcmenu{
    grid-area:about_frc2;
    display : flex;
    flex-direction: column;
    width : auto;
    font-size: 16px;
    z-index: -100;
}
.frcmenu_txt::before{
    content: "";
    border-left: 3px solid hsl(200, 93%, 71%);
    opacity : 0;
    transition: opacity 250ms ease-in-out;
    padding-left:0px;
}
.frcmenu_txt:hover::before{
    padding-left: 5px;
    opacity:1;
}
.usmenu{
    grid-area:about_us2;
    display : flex;
    flex-direction: column;
    width : auto;
    font-size: 16px;
    z-index: -100;
}
.usmenu_txt::before{
    content: "";
    border-left: 3px solid hsl(83, 93%, 44%);
    opacity:0;
    transition: opacity 250ms ease-in-out;
    padding-left:0px;
}
.usmenu_txt:hover::before{
    padding-left: 5px;
    opacity:1;
}
.memmenu{
    grid-area:member2;
    display : flex;
    flex-direction: column;
    width : auto;
    font-size: 16px;
    z-index: -100;
}
.memmenu_txt::before{
    content: "";
    border-left: 3px solid hsl(277, 93%, 44%);
    opacity:0;
    transition: opacity 250ms ease-in-out;
    padding-left:0px;
}
.memmenu_txt:hover::before{
    padding-left: 5px;
    opacity: 1;
}
.contactmenu{
    grid-area:contact_us2;
    display : flex;
    flex-direction: column;
    width : auto;
    font-size: 16px;
    z-index: -100;
}
.conmenu_txt::before{
    content: "";
    border-left: 3px solid hsl(36, 93%, 44%);
    opacity: 0;
    transition: opacity 250ms ease-in-out;
    padding-left:0px;
}
.conmenu_txt:hover::before{
    padding-left: 5px;
    opacity: 1;
}
.engmenu{
    grid-area:changeeng2;
    display : flex;
    flex-direction: column;
    width : auto;
    font-size: 16px;
    z-index: -100;
}
.engmenu_txt::before{
    content: "";
    border-left: 3px solid hsl(177, 93%, 44%);
    opacity: 0;
    transition: opacity 250ms linear;
    padding-left:0px;
}
.engmenu_txt:hover::before{
    padding-left: 5px;
    opacity:1;
}
/* loop img */
.imgroll{
    display:flex;
    align-content: center;
    justify-content: center;
    flex-wrap:wrap;
    height:95vh;
    overflow: hidden;
}
.imgroll_pic{
    position: absolute;
    width:100vw;
    height: 95vh;
    z-index: 0;
    object-fit: cover;
    margin-top: 5.625rem;
    transition: top 0.01s cubic-bezier(0,1.22,.43,.71);
    
}
.loop1{
    animation: loop1 30s  infinite;
    transform: scale(1); 
}
.loop2{
    animation: loop2 30s  infinite;
    transform: scale(1);

}
.loop3{
    animation: loop3 30s  infinite;
    transform: scale(1);

}
.loop4{
    animation: loop4 30s  infinite;
    transform: scale(1);

}
.loop5{
    animation: loop5 30s infinite;
    transform: scale(1);

}
@keyframes loop1{
    0%{
        opacity:0.8;
        transform: scale(1.2);
    }
    20%{
        opacity:0;
        transform: scale(1);
    }
    40%{
        opacity:0;
    }
    60%{
        opacity:0;
    }
    80%{
        opacity:0;
        transform: scale(1);
    }
    100%{
        opacity: 0.8;
        transform: scale(1.2);
    }
}
@keyframes loop2{
    0%{
        opacity:0;
        transform: scale(1);
    }
    20%{
        opacity:0.8;
    }
    25%{
        transform: scale(1.2);
    }
    40%{
        opacity:0;
        transform: scale(1);
    }
    60%{
        opacity:0;
    }
    80%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}
@keyframes loop3{
    0%{
        opacity:0;
    }
    20%{
        opacity:0;
        transform: scale(1); 
    }
    40%{
        opacity:0.8;
    }
    45%{
        transform: scale(1.2);
    }
    60%{
        opacity:0;
        transform: scale(1);
    }
    80%{
        opacity:0;
    }
    100%{
        opacity:0;
    }
}
@keyframes loop4{
    0%{
        opacity:0;
    }
    20%{
        opacity:0;
    }
    40%{
        opacity:0;
        transform: scale(1);
    }
    60%{
        opacity:0.8;
    }
    65%{
        transform: scale(1.2);
    }
    80%{
        opacity:0;
        transform: scale(1);
    }
    100%{
        opacity:0;
    }
}
@keyframes loop5{
    0%{
        opacity:0;
    }
    20%{
        opacity:0;
    }
    40%{
        opacity:0;
    }
    60%{
        opacity:0;
        transform: scale(1);
    }
    80%{
        opacity:0.8;
    }
    85%{
        transform: scale(1.2);
    }
    100%{
        opacity:0;
        transform: scale(1);
    }
}
#rolltxt{
    top:0px;
    z-index: 1;
    font-size: 5vw;
    display:block;
    margin:auto;
    position:relative;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: black 1px , 1px , 20px;
    font-family: Mulish, -apple-system, "PingFang SC", "Microsoft YaHei", sans-serif;
    transition: top 0.05s cubic-bezier(0,1.22,.43,.71);
    text-align: center;
    text-shadow: 0 0 10px hsl(0, 0%, 27%), 
    0 0 20px hsl(0, 8%, 31%),
    0 0 80px hsl(0, 8%, 31%),
    0 0 120px hsl(0, 8%, 31%); 
    
}

.scroll_animation{
    width: 100vw;
    z-index: 3;
    display:flex;
    justify-content:space-between;
    background-image: none ;
    position:absolute;
    opacity: 1;
    transition: background-image 7s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow: hidden;
}
.scroll_ani_pic{
    height: 5vh;
    z-index: 3;
    position: relative;
    transition: left 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
.scroll_before::before{
    content:'';
    height: 5vh;
    width:var(--scrollSize);
    max-width: 100vw;
    background-color :hsl(0, 0%, 27%);
    position:absolute;
    transition: width 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
.scroll_ani_pic_2{
    height: 5vh;
    z-index: 3;
    position: relative;
    transition: right 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}
.scroll_after::after{
    content:'';
    height: 5vh;
    right:0;
    width:var(--scrollSize);
    max-width: 100vw;
    background-color :hsl(0, 0%, 27%);
    position:absolute;
    transition: width 0.7s cubic-bezier(0.19, 1, 0.22, 1);
}

/* header end */

.content{
    color:white;
    width:100vw;
    height:200000vw;
    position:relative;
    z-index: 2;
    display:flex;
    flex-direction: column;
    top:5vh;
    
}
/*logo_container*/
.logo_container{
    position: relative;
    display: flex;
    width: 100vw;
    height: 10vw;
    align-items:stretch;
    justify-content: center;
    padding-top: 10vh;
    user-select: none;
    overflow: hidden;
}
.first_logo{
    display: block;
    height: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 20vh;
    top:0;
    opacity:0;
    transition:opacity 1.5s cubic-bezier(.93,.33,.83,.67) , padding-top 1s cubic-bezier(0,.65,1,1);
}
.mingdaologo{
    display: block;
    height: 10vw;
    padding-left: 5vw;
    padding-right: 50vw;
    top:0;
    opacity:0;
    transition:opacity 1.5s cubic-bezier(.93,.33,.83,.67) , padding-right 1s cubic-bezier(0,.65,1,1); 
}
.logo7130{
    display: block;
    height: 10vw;
    padding-left: 50vw;
    padding-right: 5vw;
    top:0;
    opacity:0;
    transition:opacity 1.5s cubic-bezier(.93,.33,.83,.67) , padding-left 1s cubic-bezier(0,.65,1,1); 
}
/*paragraph */
.paragraph{
    display: flex;
    width: 100vw;
    height: 20vw;
    padding-top: 10vw;
    padding-bottom: 5vw;
    z-index: -2;
    justify-content: center;
    position: relative;
}
.all_article{
    width: 50vw;
    position: relative;
    z-index: -2;
    right : 50vw;
}
.title_background{
    border-top-right-radius: 0.5vw;
    border-color: hsl(200, 89%, 24%);
    height:0.5vw;
    background-color:hsl(200, 89%, 24%);
    position: relative;
    transition: right 2s cubic-bezier(0.175, 0.885, 0.32, 1.05);
    right : 200vw;
}
.article_title{
    height:3vw;
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%) 0%,hsl(0, 0%, 100%) 19%,hsl(185, 100%, 90%) 20%);
    font-size:2.5vw;
    border-right-width:2px;
    color:hsl(200, 89%, 24%);
    text-align: center;
    position: relative;
    z-index: 0;
    font-weight: bold;
    transition: right 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    right : 170vw;
}

.mask{
    width: calc(100% - 10vw);
    height:calc(20vw - 3vw - 0.5vw);
    position: absolute;
    margin-left: 10vw;
    z-index: -2;
    /* clip-path: polygon(100% 0%,100.00% 49.00%,80% 100%,0% 100%,0% 0%); */
    box-shadow: 0;
    transition: right 2s cubic-bezier(0.165, 0.84, 0.44, 1) , box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* border-bottom-right-radius: calc(40% - 3vw - 0.5vw);
    border-top-right-radius:calc(40% - 3vw - 0.5vw) ;  */
    right:50vw;
}
.article_pic{
    margin-left: 10vw;
    width:calc(100% - 10vw);
    height:calc(20vw - 3vw - 0.5vw);
    position: absolute;
    z-index: -1;
    object-fit: cover;
    /* clip-path: polygon(100% 0%,100.00% 49.00%,80% 100%,0% 100%,0% 0%); */
    clip-path: polygon(100% 0%,95% 50%,90% 100%,0% 100%,0% 0%);
    transition: clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1) , right 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    cursor: pointer;
    right:50vw;
    /* transform: scale(1)translate(0);  */
}
/* .article_pic:hover{
    transform:scale(1.1)translate(-4%) ;
}  */
.all_article2{
    width: 50vw;
    position: relative;
    z-index: -2;
    left : 50vw ;
}
.paragraph_area{
    display: flex;
    position: relative;
    height: 20vw;
    margin-right: 5vw ;
    color: rgb(92, 92, 92);
    align-items: center;
    font-family: Jazz LET, fantasy;
    font-size: 20px;
    overflow: hidden;
    box-shadow:0;
    border-top-right-radius: 4vw;
    border-bottom-right-radius: 4vw;
    transition: left 1s cubic-bezier(0.075, 0.82, 0.165, 1) , box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: -2;
    left : 50vw ;
}
.paragraph_text{
    margin: auto;
    width:calc(50vw - 5vw - 16vw);
    height: auto;
    font-weight: 550; 
    line-height: 200%;
    justify-content: center;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: -1;
}
.lead_link{
    display: flex;
    height:20vw;
    width:9vw;
    background-color: hsl(185, 100%, 90%);
    box-shadow: hsl(200, 89%, 24% , 0.4) 0px 0px;
    align-content: center;
    z-index: 2;
    transform: scale(1);
    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1) , opacity 5s cubic-bezier(0.19, 1, 0.22, 1) , box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    opacity: 0;
}
.lead_link:hover{
    transform: scale(1.2);
}
.arrow{
    display: flex;
    margin: auto;
    align-content: center;
    height:5vw;
    width: 5vw;
    background-color: aliceblue;
    transition: clip-path 1.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    clip-path: polygon(0 0, 0 3% ,0 5% , 0 10% , 0 20% , 0% 100%, 100% 50%);
}
.arrow2{
    margin: auto;
    height:4vw;
    width: 4vw;
    clip-path: polygon(0 0, 0 3% ,0 5% , 0 10% , 0 20% , 0% 100%, 100% 50%);
    transition: clip-path 1.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    background-color:hsl(185, 100%, 90%) ;
}
.paragraph2{
    display: flex;
    width: 100vw;
    height: 20vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    z-index: -2;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.paragraph_area2{
    display: flex;
    position: relative;
    height: 20vw;
    margin-left: 5vw ;
    color: rgb(92, 92, 92);
    align-items: center;
    font-family: Jazz LET, fantasy;
    font-size: 20px;
    overflow: hidden;
    box-shadow:0;
    border-top-left-radius: 4vw;
    border-bottom-left-radius: 4vw;
    transition: right 1s cubic-bezier(0.075, 0.82, 0.165, 1) , box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: -2;
    right : 50vw ;
}
.paragraph_text2{
    margin: auto;
    width:calc(50vw - 5vw - 16vw);
    height: auto;
    font-weight: 550; 
    line-height: 200%;
    justify-content: center;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: -1;
}
.lead_link2{
    display: flex;
    height:20vw;
    width:9vw;
    background-color: hsl(125, 100%, 90%);
    box-shadow: hsl(125, 89%, 24% , 0.4) 0px 0px;
    align-content: center;
    z-index: 2;
    transform: scale(1);
    transition: transform 2s cubic-bezier(0.075, 0.82, 0.165, 1) , opacity 5s cubic-bezier(0.19, 1, 0.22, 1) , box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    opacity: 0;
}
.arrow_2{
    display: flex;
    margin: auto;
    align-content: center;
    height:5vw;
    width: 5vw;
    background-color: aliceblue;
    transition: clip-path 1.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    clip-path: polygon(100% 0, 100% 3% ,100% 5% , 100% 10% , 100% 20% , 100% 100%, 0% 50%);
}
.arrow2_2{
    margin: auto;
    height:4vw;
    width: 4vw;
    clip-path: polygon(100% 0% , 100% 1% , 100% 2% , 100% 3% , 100% 4% , 100% 100% , 0% 50%);
    transition: clip-path 1.5s cubic-bezier(0.215, 0.610, 0.355, 1);
    background-color:hsl(125, 100%, 90%) ;
}
.article_title2{
    height:3vw;
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%) 0%,hsl(0, 0%, 100%) 19%,hsl(125, 100%, 90%) 20%);
    font-size:2.5vw;
    border-right-width:2px;
    color:hsl(200, 89%, 24%);
    text-align: center;
    position: relative;
    z-index: 0;
    font-weight: bold;
    transition: left 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    left : 170vw;
}
.title_background2{
    border-top-left-radius: 0.5vw;
    /* border-color: hsl(83, 89%, 24%); */
    border-color: hsl(125, 89%, 24%);
    height:0.5vw;
    /* background-color:hsl(200, 89%, 24%); */
    background-color: hsl(125, 89%, 24%);
    position: relative;
    transition: left 2s cubic-bezier(0.175, 0.885, 0.32, 1.05);
    left : 200vw;
}
.article_pic2{
    padding-right: 10vw;
    width:calc(100% - 10vw);
    height:calc(20vw - 3vw - 0.5vw);
    position: absolute;;
    z-index: -1;
    object-fit: cover;
    clip-path: polygon(0% 0%,5% 50%,10% 100%,100% 100%,100% 0%);
    transition: clip-path 1s cubic-bezier(0.075, 0.82, 0.165, 1) , left 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    cursor: pointer;
    left:50vw;
}
.mask2{
    width: calc(100% - 10vw);
    height:calc(20vw - 3vw - 0.5vw);
    position: absolute;
    margin-right: 10vw;
    z-index: -2;
    box-shadow: 0;
    transition: left 2s cubic-bezier(0.165, 0.84, 0.44, 1) , box-shadow 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    left:50vw;
}
.article_pic3{
    filter: opacity(0.9);
}
/* hsl(277, 93%, 44%) */
.title_background3{
    border-color: hsl(277, 89%, 24%);
    background-color: hsl(277, 89%, 24%);
}
.arrow2_3{
    background-color:hsl(256, 100%, 90%) ;
}
.lead_link3{
    background-color: hsl(256, 100%, 90%);
    box-shadow: hsl(277, 89%, 24% , 0.4) 0px 0px;
}
.article_title3{
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%) 0%,hsl(0, 0%, 100%) 19%,hsl(256, 100%, 90%) 20%);
    color:hsl(200, 89%, 24%);
}

.title_background4{
    border-color: hsl(36, 89%, 24%);
    background-color: hsl(36, 89%, 24%);
}

.article_title4{
    background-image: linear-gradient(to bottom, hsl(0, 0%, 100%) 0%,hsl(0, 0%, 100%) 19%,hsl(36, 100%, 90%) 20%);
    color:hsl(200, 89%, 24%);
}
.arrow2_4{
    background-color:hsl(36, 100%, 90%) ;
}
.lead_link4{
    background-color: hsl(36, 100%, 90%);
    box-shadow: hsl(36, 89%, 24% , 0.4) 0px 0px;
}
.pic_link{
    display: block;
    margin-left: 10vw;
    height: 16.5vw;
    width: 40vw;
    z-index: -2;
}
.pic_link2{
    display: block;
    margin-right: 10vw;
    height: 16.5vw;
    width: 40vw;
    z-index: -2;
}